
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
  

.action{
  display: flex;
  flex-wrap: wrap;
}  
#drop-area {
  display: flex;
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 180px;
  font-family: sans-serif;
  /* margin: 100px auto; */
  padding: 20px;
  height: 15vh;
  align-items: center;
  justify-content: center;
}
/* .card-body{
  box-shadow: 4px 4px 5px grey;
  padding: 20px 50px;
} */
.card{
  box-shadow: 5px 5px 10px grey;
  padding: 20px 50px;
  margin: 20px 10px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 120px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}



#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 100%;
  font-family: sans-serif;
  /* margin: 100px auto; */
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 120px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

canvas{
  height: 50vh !important;
}

